language: node_js

node_js:
  - '10'

branches:
  only:
    - master

install:
  - npm install

cache:
  yarn: true
  directories:
    - 'node_modules'

script:
  - tslint --project ./tsconfig.json
  - npm run build
  - npm run test
